/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
/* Reset Styles */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style-type: disc;
  list-style-position: inside;
}

audio::-internal-media-controls-download-button {
    display:none;
}

audio::-webkit-media-controls-enclosure {
    overflow:hidden;
}

audio::-webkit-media-controls-panel {
    width: calc(100% + 30px); /* Adjust as needed */
}

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }

  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }


/*base styles*/
body {
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    font-size: 0.9em;
    background: #2B3034;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Josefin Sans', sans-serif;
}

h1 {
    font-size: 1.7em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
    font-weight:bolder;
}

strong {
    font-weight: 700;
}

.nav, .pagination, .carousel, .panel-title a { 
    cursor: pointer; 
}

.accordion h4.panel-title {
    cursor: pointer;
}
.inline {
    float: left;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}

.card {
  background: white;
  width: 100%;
  max-width: 950px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 40px;
  position: relative;
  opacity: .95;
  border-radius: 4px;
  border: 1px solid #e8e8e8;
  box-shadow: 0 1px 0 rgba(0,0,0,.25);
}

.card-center-text {
    text-align: center;
}

.branding {
  float: left;
  margin: 0;
}

.branding a {
  width: 80%;
  font-size: 1.6em;
  text-align: left;
  color: #1B7998;
  text-decoration: none;
  text-align: left;
}

.branding a:hover {
  color: none;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.error {
  color: red;
  padding-bottom: 10px;
}

.news img {
    float: left;
    margin: 5px 15px 0 0;
}
.news p {
    padding: 3px 0 10px 0;
    
}
.news-item {
    margin: 10px 0;
    padding: 5px;
}

.news-item:hover {
    background: rgba(120, 120, 120, 0.1);
}

input.ng-invalid.ng-touched {
  border: 1px solid #DA3637;
}

input.ng-valid.ng-touched {
  border: 1px solid #509D12;
}

input {
  width: 100%;
  display: inline-block;
  font-weight: 100;
  padding: 15px;
  margin: 5px 0;
  font-size: 1rem;
  font-weight: 100;
  color: #475B62;
  border: 1px solid #C5C5C5;
  border-radius: 4px;
  outline: 0;
}

input[type=radio] {
  width: auto;
}

.ng-invalid .btn {
  background: gray;
}

.ng-enter.ng-enter-active,
.ng-leave {
  opacity: 1;
  height: 80px;
  overflow: hidden;
}

.ng-leave.ng-leave-active,
.ng-enter {
  opacity: 0;
  height: 0;
  overflow: hidden;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 1.1rem;
    font-size: 400;
    line-height: 140%;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    background: #C61C6F;
    color: white;
    background-color: #2D8BCF;
    background-size: 18px 18px;
    min-width: 28px;
    min-height: 28px;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
         -o-user-select: none;
            user-select: none;
}


.btn .btn-left { float: left; }
.btn .btn-right { float: right; }
.btn:focus, .btn:hover {
  background-color: #DC322F;
  outline: none;
}


.textintro h1 {
  margin: 0;
  padding: 0;
  margin-top: 20px;
}

.userinfo {
  text-align: center;
/*  font-family: Lato, 'Helvetica Nueue', Helvetica, Arial, sans-serif;*/
  padding-bottom: 5px;
}

.userinfo a {
  color: #2D8BCF;
}

.userinfo input {
    width: auto;
}

nav {
  width: 100%;
  background: #fff;
  box-shadow: 0 1px 1px rgba(0,0,0,.1);
}


nav ul {
  width: 60%;
  float: right;
}

nav ul li {
  float: right;
  color: #145266;
  font-family: Lato, 'Helvetica Nueue', Helvetica, Arial, sans-serif;
  margin: 10px 0;
  font-size: 1.1em;
}

nav ul li.user {
  background-color: #D24244;
  color: #EFC94C;
  font-family: Lato, 'Helvetica Nueue', Helvetica, Arial, sans-serif;
}

nav ul li.user.hello {
  margin-left: 60px;
  padding: 10px 15px;
}

nav ul li a {
  float: left;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 4px;
}

nav li a:hover {
  color: #E76C5A;
}
#carousel-main {
    margin: 7px auto 0;
    max-height: 180px;
    max-width: 100%;
    overflow: hidden;    
}

#carousel-main img {
    height: inherit;
/*    min-height: 400px;*/
    width: 100%;     
}


#home_img {
    height: 103px;
}

#home-content-bottom {
    margin-top: -30px;
}

.header-carousel {

    background: #222222;
    margin: 52px auto 0;

}
.topimage {
    margin-top: 50px;
}


section .ng-scope {
    
}
.accordion {
    -webkit-overflow-scrolling: touch;
}
.accordion h3.panel-title {
    cursor: pointer;
}
.admin .data-edit-form {

}
.admin #data-categories li {
    display: inline;
}

.admin .admin-list-item {
    
}
.admin .admin-list-item-child {
    
    margin: 0 5px 0 5px;
    
    
}
.admin .videolist li,
.admin .audiolist li,
.admin .projectlist li,
.admin .clientlist li,
.admin .albumlist li,
.admin .gearlist li {
/*    text-align: center;*/
    width: 100%;
    float: left;
    height: auto;
    padding: 5px;
    margin-left: 1.5%;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.admin .projectlist h4 {
    word-wrap: break-word;
}
.admin-scrolling-list {
    margin-top: 15px;
    overflow: scroll;
    height: 300px;
}
.admin .admin-scrolling-list li:hover {
    background: rgba(120, 120, 120, 0.1);
/*    border-radius: 5px; */
}
.portfolio img {
    
}
.admin .admin-scrolling-list img,
.portfolio .video img {
    max-height: 40px;
/*    float: left;*/

}
.admin li,
.portfolio li {
    list-style: none;
}

.portfolio iframe {
    width: 100%;
    height: auto;
/*    float: left;*/
}

.portfolio .bp-media-settings-show-speed {
    z-index: 2;
}
.portfolio .preview-header-wrapper {
    z-index: 1;
}

.portfolio .portfolio-scrolling-list {
/*    margin-top: 15px;*/
    overflow: scroll;
    height: 300px; 
    
}
.preview-header-wrapper {
    display: none;
}

.bp-media-controls-wrapper {
    bottom: -20px!important;
}

.portfolio .video {
    text-align: center;
    width: 96%;
    float: left;
    height: auto;
    padding: 5px;
    margin-left: 1.5%;
    margin-top: 0px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.portfolio .video a {
    text-decoration: none;
}
.portfolio .portfolio-tabs li {
    margin: 5px 3px 5px 0;
}

.portfolio .video:hover {
    background: rgba(120, 120, 120, 0.1);
    border-radius: 5px;
}
.admin .videolist h5,
.portfolio .video h5 {
    height: 45px;
    padding: 2px 5px 0 5px;
    text-align: center;
}
.displayAudio {
    border: solid 1px rgba(150, 150, 150, 0.9);
    background: rgba(245, 245, 245, 0.4);
    border-radius: 4px;
}

.displayAudio img {
   margin: 10px 0 0 5px;
    height: 60px;
    float: left;
}

.audioImg img {
    margin: 5px 0 5px 5px;
    height: 40px;
    float: left;
}
.audioTitle {
    margin: 15px 0 0 10px;
    width: 35%;
    float: left;
}
.audioTitle span {
    vertical-align: middle;
}
.audiodescription {
    margin: 5px 5px 5px 0;
    width: 45%;
    float: right;
    overflow-y: scroll;
    height: 65px;
    background: white;
    padding: 10px;
    border-radius: 3px;
}
.audio-list {
/*    margin: 10px 0 0 0;*/
    border: solid 1px rgba(150, 150, 150, 0.9);
    border-radius: 4px;
    height: 250px;
    overflow-y: scroll;
}
.audio-list .audio {
    clear: both;
    overflow: auto;
}
.audio-item {
    overflow:auto
}
.audio-list .audio div:hover {
    background: rgba(245, 245, 245, 0.4);
}
#audio-player {
    margin: 15px 0 0 0;
    width: 100%;
    clear:both;
    
}
/*
.audio-item div:nth-child(even) {
   background: grey; 
}
*/

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.header-lower-rail {
    width: 100%;
    height: 30px;
    background: #222;
}

#music-comp-player {
 width: 100%;
}



/*Bootstrap class alterations*/
.btn {
    background: #05597B;
    padding: 3px 8px;
    margin-top: 10px;
}
footer .btn {
    margin-left: 5px;
}

.well {
    background: white;
    opacity: 97;
}


}

/*End Bootstrap class alterations*/

.branding {
  /*styles for logo*/
  float: left;
/*  margin: 20px;*/
}

.branding a {
  width: 100%;
  font-size: 1.6em;
  text-align: left;
  color: #1B7998;
  text-decoration: none;
  text-align: left;
  padding: 5px 0 25px 0;
}

.featureImg {
    width:100%;
    margin-bottom: 15px;
}

.contact-image {
    width: 250px;
}

#contact-submit {
    width: 250px;
}

#contact-alternative {
    margin: 40px auto;
}


.carousel-slide {
    /*position: absolute;*/
    top: 0;
    left: 0;
    width: inherit;
    max-width: 750px;
}

.slider {
    border: 10px solid black;
    border-radius: 5px;
    height: 500px;
    max-width: 620px;
    margin: 15px auto;
    position: relative;
    width: 100%;
    background: black;
    text-align: center;
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    -ms-perspective: 1000px;
    -o-perspective: 1000px;
    perspective: 1000px;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.slider p {
    width: 100%;
}

.slide img {
    position: absolute;
    /*top: 0;*/
    /*left: 0;*/
    /*width: inherit;*/
    display: block;
    margin: auto;
    max-width: 95%;
    max-height: 82%;
    left: 0;
    right: 0;
}
.slide.ng-hide-add {
    opacity:1;
    display: block!important;

}
.slide.ng-hide-add.ng-hide-add-active {
opacity:0;
    -webkit-transition:1s linear all;
    -moz-transition:1s linear all;
    -o-transition:1s linear all;
    transition:1s linear all;
    -webkit-transform: rotateX(50deg) rotateY(30deg);
    -moz-transform: rotateX(50deg) rotateY(30deg);
    -ms-transform: rotateX(50deg) rotateY(30deg);
    -o-transform: rotateX(50deg) rotateY(30deg);
    transform: rotateX(50deg) rotateY(30deg);
    -webkit-transform-origin: right top 0;
    -moz-transform-origin: right top 0;
    -ms-transform-origin: right top 0;
    -o-transform-origin: right top 0;
    transform-origin: right top 0;
}
.slide.ng-hide-remove {
-webkit-transition:1s linear all;
-moz-transition:1s linear all;
-o-transition:1s linear all;
transition:1s linear all;
display:block!important;
opacity:0;
}
.slide, .slide.ng-hide-remove.ng-hide-remove-active {
opacity:1;
}


main {
    margin: 25px auto 65px auto;
    padding: 5px 10px;
    line-height: 1.5;
    border-radius: 4px;
}

section.images {
    width: 100%;
    margin: 0;
    padding: 0;
}
aside {
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    margin-top: 0;
    background: white;
    opacity: .97;
}



footer  {
    background-color: #222222;
    color: #9d9d9d;
}

@media (min-width: 992px) {
    .navbar-nav li {
        float: right;

    }
    .navbar-collapse {
/*        float: right;*/
/*        width: 95%; */
    }
}

@media (max-width: 991px) {
    .navbar-collapse {
        width: 60%;
        float:right;
        
    }
    .navbar-nav {
        width: 100%;
    }
    .images.slider {
        margin: 0;
        border-width: 10px;
        height: 370px;  
    }
    .images.slider p {
        top: 325px;
    }
    .images aside {
        height: 368px;
    }
    #image-thumbs {
        height: 180px;
    }
 
}

@media (max-width: 950px) {
    .header-lower-rail {
        display: none;
    }
}

@media (max-width: 768px) {
    .navbar-collapse {
        width: 100%;
    }
    .navbar-nav {
        width: 100%;
        clear: both;
        
    }
    
    .news img {
        width: 50%;
    }
    
    .section-header-text {
        text-align: left;
    }
/*
    .header-carousel {
        height: 250px;

    }
*/
    .header-lower-rail {
        display: block;
    }
    .navbar-nav>li {
        float: left;
        font-size: .9em;
    }
    .navbar-nav>li>a {
        padding: 2.5px 10px;
        line-height: 15px
    }
}

@media (max-width: 680px) {
    .header-carousel {
        height: initial;
    }
    .images.slider p {
        top: 300px;
    }
    .boat .boat-intro {
        width: 95%;
        display: block;
    }
}
@media (max-width: 575px) {
    .social-buttons {
        display: none;
    }
    .news img {
        float: none;
        width: 100%;
    }
/*
    .header-carousel {
        height: 175px;
    }
*/
}

@media (max-width: 490px) {
    .boat h3,
    .boat p {
        display: none;
    }
    div.boat {
        margin: 10px auto;
    }
    .navbar-nav>li {
        width: 100%;
        padding: none;
    }

}

@media (max-width: 450px) {
    
}