<section class="major-scale-modes">
    <div class="container card">
        <h2>Major Scale Modes Course</h2>
        <h3>Major Scale Mode 10-Week Bootcamp</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius ducimus porro repellendus accusantium velit maiores officiis perspiciatis beatae, quo ab expedita labore temporibus sit itaque odio, nisi dolorem mollitia quos cum eos veritatis consectetur? Quod asperiores, expedita. Nostrum vitae doloremque adipisci ut, sunt eos debitis sint aliquam, quod, dolorum, ex!</p>
        <a href="https://link.waveapps.com/86bzhf-qappbs"><button>Purchase Through Wave</button></a>
        <h3>Major Scale Modes Self-Paced</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis impedit dolor nam numquam inventore omnis optio ea sed nostrum, consequatur, incidunt blanditiis ab ipsam maxime iure ex tempore voluptates accusamus.</p>
        
    </div>
</section>