<section class="about">
    <div class="container card">
       <h1>About</h1>
        <p>A native of Virginia, Chris grew up playing in rock and pop bands in Virginia and North Carolina before heading off to attend Berklee College of Music in Boston. After graduating Magna Cum Laude with a degree in music performance from Berklee, he served for four years in the U.S. Air Force Band as guitarist and staff arranger.  In 1998, Chris moved to Seattle and quickly established himself as an important member of the area&rsquo;s vibrant music scene.</p>
        <h2>Guitar Artistry</h2>
        <p>An extremely versatile performer, equally at home playing rock, funk, blues, R&amp;B, gospel, country, and classical music, Chris maintains a busy schedule playing clubs, weddings and private parties; playing everything from solo guitar to classic jazz to rollicking  R&amp;B. In addition, he is a good sight reader, is comfortable in many styles and can fit into almost any musical situation.</p>
        <p>Chris has been playing in exciting venues with excellent musicians for over three decades. For a list of the people and places click the pick!</p>
        <p><span><a ng-href="#!/clients"><img src="images/pick.gif" width="90" height="72" border="0" usemap="#Map2" />people &amp; places</a></span></p>
            
        <h2>SophiaHat Studios</h2>
          <p>In addition to performance and instruction, Chris is actively involved as a music engineer/producer. For more information about Chris' studio, please visit <a href="http://www.sophiahatstudio.com/"><strong>www.sophiahatstudio.com </strong></a></p>
    </div>
</section>