<section class="contact">
<div class="container card row">
    <div class="col-md-12">
        <form action="feedback.php" method="post" id="csm-contact-form" class="" accept-charset="UTF-8">
        <fieldset>
            <legend>
                <h2>Contact</h2>
            </legend>
            
        <div class="form-group">
            <label class="col-sm-2 control-label" for="csm-formname">Name</label> 
            <div class="col-sm-9">
                <input type="text" class="form-control input-md" name="fullname" id="csm-formname" required placeholder="First and Last Name">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="csm-formemail">Email</label> 
            <div class="col-sm-9">
                <input type="text" class="form-control input-md" id="csm-formemail" name="email" required placeholder="name@example.com">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="csm-formcomments">Comments</label><br>&nbsp;<br>
            <div class="col-sm-9">
                <textarea class="form-control input-md" rows="15" name="comments" id="csm-formcomments" placeholder="Comments or Message"></textarea>
            </div>
        </div>
        
        
        
            <input class="btn btn-default" id="csm-formsubmit" type="submit" value="Submit">
        </fieldset>
    </form>
    </div>
</div>
</section>
