<div>
    <div class="container">
        <p class="navbar-text pull-left">&copy; 2019 - Chris Spencer Creative</p>
        <div class="social-buttons">
            <a ng-href="#!/contact" class="navbar-btn btn-success btn pull-right">Contact</a>
            
<!--
           <a ng-href="#!/contact" class="navbar-btn btn-success btn pull-right">Watch</a>
           <a ng-href="#!/contact" class="navbar-btn btn-success btn pull-right">Tweet</a>
           <a ng-href="#!/contact" class="navbar-btn btn-success btn pull-right">Facebook</a>
-->

        </div>
    </div>
</div>