<section class="gigs">
    <div class="container card">
       <h1>Upcoming Performances</h1>
        <p>Here's a list of upcoming performances, please check the venue or contact Chris to verify.</p>
        <div class="iframe-container">
            <iframe src="https://calendar.google.com/calendar/embed?showNav=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;mode=AGENDA&amp;height=300&amp;wkst=1&amp;bgcolor=%23cdcdcd&amp;src=0fvm5g99985t49fbqu18qobei0%40group.calendar.google.com&amp;color=%2329527A&amp;ctz=America%2FLos_Angeles" style="border:solid 1px #777" width="95%" height="300" frameborder="0" scrolling="no"></iframe>
        </div>
    </div>
</section>