<section class="home">
    <div class="container card">
        <p>Chris Spencer is one of the most accomplished and versatile guitarists in the Seattle area. He performs and records regularly with the leading jazz artists in the Pacific Northwest and is an exciting mainstay on the Seattle jazz scene. His consummate professionalism and excellent musicianship make him a highly regarded and in-demand professional. He is also a skilled recording engineer and dedicated teacher.</p>
        <p> Chris is a freelance guitarist for hire in the Pacific Northwest region, capable of performing in all styles, easy to work with and professional.  He is also available online as a session musician for recording projects through <a href="http://www.sophiahatstudio.com/">SophiaHat Studios </a></p>
        
        <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLTBTlEcXC97haA_eXIvDzytey43T9kRt8" frameborder="0" allowfullscreen></iframe>
    </div>
</section>