<section class="learn">
    <div class="container card">
        <h2> Private Lessons</h2>
            <ul>

              <li>All styles / All ages /
All skill levels</li>

              <li>Specializing in
improvisation, chord construction, theory
              </li>

              <li>Comfortable, encouraging
environment</li>

              <li>Reasonable rates:
$35/half-hour and $55/hour</li>
            </ul>
            <p>Whether you are new to the guitar or a seasoned player, Chris can help you take
your playing to new heights. Together with Chris, you will decide your focus of
study, and create a practice routine packed with exercises, tunes, and
a few distractions to make things fun.</p>

            <p>In addition to his frequent appearances at clubs, concerts, and private
functions, Chris is a respected teacher in the Northwest. He currently
teaches privately at his home studio in North Seattle. His past
affiliations include Music Center of the Northwest, Seattle Drum School
and various public schools. He has also developed teaching material for
EMP and Riff Interactive, a leader in online music instruction. </p>

            <p>Chris is a supportive and attentive teacher. He focuses primarily on teaching
jazz guitar and improvisation. Other areas of focus include music
theory, arranging, and rock/blues guitar styles. All ages and levels of
proficiency are welcome. Fees are affordable and lessons can be
scheduled in hour or half-hour increments.</p>

            <p>Chris is currently teaching privately in his home in Seattle and he works
with students outside of the Seattle area via the web. All
correspondence is done via chat, web phone and supplemental video,
audio, and MIDI material.</p>

            <p>Chris also leads workshops and clinics on improvisation, small group ensemble
playing and other topics specific to the guitar.&nbsp; He's
experienced in working with both K-12 and undergraduate students and
can tailor his approach accordingly.&nbsp; </p>
       <h2>Online Lesson Portal through <a href="https://www.soundslice.com/users/sophiahat/">SoundSlice</a></h2>
       <p>visit Chris' <a href="https://www.soundslice.com/users/sophiahat/">SoundSlice Page</a> for a ton of free lessons as well as some <a href="https://www.soundslice.com/users/sophiahat/courses/">Courses</a> available for purchase. </p>
       <h3>Courses Available</h3>
       <ul>
            <li><a href="https://www.soundslice.com/store/major-scale-modes-for-guitar/">Major Scale Modes</a></li>
            <li><a href="https://www.soundslice.com/store/the-big-four-7th-arpgeggios-maj7-dom7-min7-min7b5-7-positions-2/">The Big Four: Seventh Arpeggios</a></li>
           <li><a href="https://www.soundslice.com/store/major-scale-mode-exercises-learning-the-diatonic-intervals-through-patterns/">Major Scale Modes - Applied Patterns</a></li>
       </ul>
       
       <p>The courses consist of smaller modules called "Slices", here's an example of a Slice, an etude for 'All of Me'.  Check out the synchronized notation with adjustable speed control...</p>
       <br>
       <br>
        
        <div class="video-container">
            <iframe src="https://www.soundslice.com/slices/vDBcc/embed/" width="100%" height="500" frameBorder="0" allowfullscreen></iframe>
        </div>
<!--
        <h2>Embedded Lesson Material</h2>
        <p>This is an experimental area, testing the same material through another service, flat.io</p>
        <iframe src="https://flat.io/embed/5d5b6c3c0d948c485b473530?branding=false&audioSource=5d5c6df58d90084705eb04ad&videoPosition=left&layout=page&appId=5d5b607881e3687f2b23aa6c&sharingKey=0cb267ab93ba78b361b7f26382cc0c473802662d6bd6e64256560a4bde0e21855776376640df71eced37b93aeb2a086fa6148eac52b4702e65a6bed916d6c817" height="450" width="100%" frameBorder="0" allowfullscreen allow="midi"></iframe>
-->
    </div>
</section>