<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="branding">
            <a class="navbar-brand" ng-href="#/home">Chris Spencer Music</a>
        </div>
        <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <div class="collapse navbar-collapse navHeaderCollapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a ng-href="#/contact"></a>Contact</li>
                <li><a ng-href="#/gigs"></a>Gigs</li>
                <li><a ng-href="#/teaching"></a>Teaching</li>
                <li><a ng-href="#/portfolio"></a>Recordings</li>
                <li><a ng-href="#/services"></a>Services</li>
                <li><a ng-href="#/about"></a>About</li>
                <li><a ng-href="#/learn"></a>Learn</li>
                <li ng-show="currentUser.role =='admin'"><a ng-href="#/admin"></a>Admin</li>
            </ul>
        </div>
    </div>
</div>