<section class="portfolio">
    
    <div class="row">
        <div class="col-md-9 container card">
            <header>
                <div class="panel-header">
                    <h1>Recordings</h1>
                </div>
            </header>
           <div class="displayAudio">
               <div class=""><img ng-src="https://storage.googleapis.com/chrisspencercreative/images/cd_images/{{displayAudio.img}}" alt=""></div>
               <div class="audioTitle"><span>{{displayAudio.title}}</span></div>

               <div class="audiodescription">{{displayAudio.description}}</div>

               <audio  id="audio-player" src="" controls></audio> 
           </div>
           <div id="audio" class="">
                <div class="" id="audio-panel">    
                   <div id="guitarist" class="portfolio-scrolling-list">
                       <div class="panel-body" ng-model="audio">                      
                           <div class="audioplayer">
                               <div class="audio-list">
                                    <div class="audio" ng-repeat="track in audio |  orderBy: '-rating'" ng-show="track.showCSMusic&&track.active">
                                       <a ng-click="getAudioSource(track)" href="">
                                         <div class="audio-item">
                                             <div class="audioImg"><img ng-src="https://storage.googleapis.com/chrisspencercreative/images/cd_images/{{track.img}}" alt=""></div>
                                            <div class="audioTitle"><span>{{track.title}}</span></div> 
                                         </div>                                        
                                       </a>
                                   </div>   
                               </div>
                           </div>
                       </div>
                   </div>
                </div>   
             </div>
        </div>
    </div>
    
</section>