<section class="portfolio">
    <div class="container card">
       <h1>Recordings</h1>
        <table width="348" height="214" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td height="55" valign="bottom"><span class="style11">Sounds </span></td>
        </tr>
        <tr>
          <td valign="top"><p align="left" class="style15">As a veteran musician and long-time performer in a wide range of jazz, rock and pop groups, Chris&rsquo;s repertoire spans hundreds of tunes in a wide range of genres. Chris Spencer Music has bands available for nightclubs, jazz festivals and concert venues.</p>
          <p class="style15" align="left"><a href="sounds/NKtenshunWeLease.mp3"><strong>Tenshun WeLease</strong></a><br />
            Troy Grugget, Cynthia Mullis, Byron Vannoy, Chuck Kistler</p>
            <p class="style15" align="left"><a href="sounds/Vina%27sLullaby_SteveTreseler.mp3"><strong>Vinas Lullaby</strong><br />
            </a>Steve Treseler, Dean Schmidt, Steve Korn</p>

            <p class="style15" align="left"><a href="sounds/Lorrie%20Ruiz%20-%20Chewy%20-%2003%20-%205%20little%20fingers.mp3"><strong>Five Little Fingers</strong><br />
            </a>Lorrie Ruiz, Joe Doria, Dayna Smith, Larry Bichler</p>

            <p class="style15" align="left"><a href="sounds/skylark.mp3"><strong>Skylark</strong></a><br />
            Duo with vocalist Sommer Stockinger</p>
            <p class="style15" align="left"><a href="sounds/Don%20Immel%20-%20Long%20Way%20Home%20-%2002%20-%20Fool%27s%20Full%20Quarter.mp3"><strong>Fools Full Quarter</strong><br />
            </a>Don Immel, Marc Seales, Andrew Nelson, Doug Miller, Jake Bergevin, Gary Hobbs</p>
            <p class="style15" align="left"><a href="sounds/TwoNotOne_SteveTreseler.mp3"><strong>Two Not One</strong><br />
            </a>Steve Treseler, Dawn Clement, Jon Hamar, Steve Korn</p>

            <p class="style15" align="left"><a href="sounds/Don%20Immel%20-%20Long%20Way%20Home%20-%2004%20-%20Whole%20Lotta.mp3"><strong>Whole Lotta</strong><br />
            </a>Don Immel, Marc Seales, Andrew Nelson, Chandry Moore, Dave Captien, Gary Hobbs</p>

            <p class="style15" align="left"><a href="sounds/OnceINtake1mix3.mp3"><strong>Once In</strong></a><br />
            Chromatic Jones</p>
            <p class="style15" align="left"><a href="sounds/Lorrie%20Ruiz%20-%20Chewy%20-%2004%20-%20slippin%20away.mp3"><strong>Slippin Away</strong><br />
            </a>Lorrie Ruiz, Joe Doria, Dayna Smith, Larry Bichler</p>

            <p class="style15" align="left"><a href="sounds/NakedAsWeCame_SteveTreseler.mp3"><strong>Naked As We Came</strong><br />
            </a>Steve Treseler, Jon Hamar, Steve Korn</p>
            <p class="style15" align="left"><a href="sounds/Don%20Immel%20-%20Long%20Way%20Home%20-%2008%20-%20Dualife.mp3"><strong>Dual Life</strong><br />
            </a>Don Immel, Marc Seales, Andrew Nelson, Dave Captien,&nbsp; Gary Hobbs</p>

            <p class="style15" align="left"><a href="sounds/preludetokiss.mp3"><strong>Prelude to a Kiss</strong></a>&nbsp;<br />
            solo guitar</p>


            <p align="left" class="style15">Here are some samples of Chris's trio with Chuck Kistler (bass) and Byron Vannoy (drums).</p>
            
            <table width="347" height="80" border="0" cellpadding="0" cellspacing="6">
              <tr>
                <td width="206" valign="top"><p align="justify" class="style15"><strong><a href="sounds/howDeepistheOceanM.mp3">How Deep Is the Ocean </a></strong></p>
                  <p align="justify" class="style15"><strong><a href="sounds/Wave1m.mp3">Wave </a></strong></p>
                  <p align="justify" class="style17"><strong><a href="sounds/greendolphinstreet2m.mp3">Green Dolphin Street </a></strong></p>
                  <p align="justify" class="style17"><strong><a href="sounds/moonlightserenade1a.mp3">Moonlight Serenade</a></strong></p>
                <p align="justify" class="style17"><strong><a href="sounds/misty3am.mp3">Misty</a></strong></p>                </td>
                <td width="123" valign="top" class="style28"><p><a href="sounds/WhatsGoinON3.mp3">What's Goin' On</a></p>
                <p><a href="sounds/Josie3.mp3">Josie</a></p>
                <p><strong><a href="sounds/unitseven2bm.mp3">Unit Seven</a></strong></p>
                <p><strong><a href="sounds/HomarMotif6m.mp3">Homar Motif</a></strong></p>
                <p><strong><a href="sounds/likesonny6.mp3">Like Sonny </a></strong></p></td>
              </tr>
        </table>        </tr>
        <tr>
          <td height="50" valign="bottom" class="style11">SophiaHat Recording Studio </td>
        </tr>
        <tr>
          <td valign="top" class="style15"><div align="justify">
            <p align="left">In addition to performance and instruction, Chris is actively involved as an   music engineer/producer.&nbsp; His engineering credits include projects by:</p>
            <ul>
              <li>Kathy   Moore</li>
              <li>Matt Jorgensen</li>
              <li>Doug Miller</li>
              <li>Joe Doria Trio</li>
              <li>Cynthia Mullis</li>
              <li>Big Neighborhood</li>
              </ul>
            <p align="left">For   more information about Chris's studio, SophiaHat, please visit <a href="http://www.sophiahatstudio.com/"><strong>www.sophiahatstudio.com </strong></a></p>
          </div></td>
        </tr>
      </table>
    </div>
</section>