<section class="services">
    <div class="container card">
        <h1>Services</h1>
        <h2>Guitarist For Hire</h2>
        <p>With over 20 years of performances and tons of experience with all sorts of players in every possible situation, Chris is an excellent choice to round out your musical project.  He's available to rehearse your music and will follow your direction stylistically to take your performance to an entirely new level.  With great transcription and reading capabilities he's a quick study.</p>
        <h2>Session Guitarist</h2>
        <p>As a player and a recording engineer, Chris knows the recording process from both sides of the glass. He's available as a session guitarist in the traditional sense and online as a virtual player for folks outside of the Pacific Northwest region.  With an arsenal of guitars, amps and effects, he can deliver the right stuff for your recording, efficiently and tastefully. </p> 
        <h3>Sound Palette</h3>
        <p>Here&#39;s a little demo of the same tune played with different instrumentation.  As you click on the style tabs, you can hear the impact of changing up the guitar sound palette.</p>
        <div class="sync-demo">
            <div id="track-picker" class="float-left">
                <button class="btn active" data-link="https://storage.googleapis.com/chrisspencercreative/audio/Bluesy1.mp3" data-img="/images/strat.jpg" >Bluesy</button>
                <button class="btn" data-link="https://storage.googleapis.com/chrisspencercreative/audio/Swing.mp3" data-img="/images/l7.jpg">Swingy</button>
                <button class="btn" data-link="https://storage.googleapis.com/chrisspencercreative/audio/TwangyGenteel.mp3" data-img="/images/tele.jpg">Genteel</button>
                <button class="btn" data-link="https://storage.googleapis.com/chrisspencercreative/audio/OldTimey.mp3" data-img="/images/uke.jpg">Ukey</button>
                <button class="btn" data-link="https://storage.googleapis.com/chrisspencercreative/audio/Heavy1.mp3" data-img="/images/brianmoore.jpg">Heavy</button>
                <button class="btn" data-link="https://storage.googleapis.com/chrisspencercreative/audio/SoloGtr.mp3" data-img="/images/classical.jpg">Nylonie</button>
            </div>
            <div id="track" class="float-left">
                <div id="player-container">
                    <audio controls controlsList="nodownload" src="https://storage.googleapis.com/chrisspencercreative/audio/Bluesy1.mp3" id="sync-audio-player"></audio>
                </div>
                <div id="track-image">
                    <img src="/images/strat.jpg" alt="track-image">
                </div>
            </div>
            <p id="more-track-info">For more sounds check out the <a ng-href="#!/portfolio">Recordings page.</a></p>
        </div> 
        
        <h2>Bandleader</h2>
        <p>Music is an essential ingredient for transforming an event into an unforgettable experience for you and your guests. Carefully chosen and skillfully played, music can lend an atmosphere of quiet sophistication or inspire your guests to joyous celebration.</p>
        <p>Chris is a master of the art of matching the music to the moment. He can work with you to select music that perfectly captures the atmosphere and mood you envision, and then assemble the musicians to make it happen. From a soothing solo performance to a red-hot quintet, and from classical to jazz to rock and beyond, Chris Spencer Music can provide the very best music the region has to offer.</p>
        <p><strong>The right music... </strong><br>Most event planners are looking for musicians to   help create an atmosphere that will create a positive and memorable experience   for all concerned. Chris can put you at ease by ensuring that the music, range of volume, and the sonic   vibe are perfectly matched for your event.   The band will be professional, properly attired, unobtrusive, prompt and   appropriate for your needs. The result is an evening of music that fits your event perfectly.</p>
        <p><strong>at the right price!</strong><br>Naturally a consideration for all, quality live music has   to be affordable and meet the constraints of the event hosts or venue   owner. Given the quality of music   delivered, Chris' rates are extremely reasonable and are an excellent   entertainment value.</p>
    </div>
</section>